@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@700&display=swap");

:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #4c5053;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #32353a;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

.sibabe-logo {
  max-height: 40px;
  margin-right: 6px;
}

.profil-container {
  min-height: 100vh;
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  height: 450px;
  margin-right: 4rem;
}

.profil h2 {
  font-weight: 700;
}

.foto-profil {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.addbabe form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 24px;
  width: 300px;
  height: 450px;
}

.addbabe form label {
  margin-top: 12px;
}

.addbabe form textarea {
  height: 120px;
}

.add-button {
  margin-top: 12px;
  padding: 4px;
  color: var(--contrast-color);
  background: var(--primary-color);
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.add-button:hover,
.home-btn:hover {
  color: var(--contrast-color);
  background: #5d6265;
}

.home-btn {
  margin-right: 12px;
  color: var(--contrast-color);
  background: var(--primary-color);
}

.logout-btn {
  color: var(--contrast-color);
  background: #9a3b3b;
}

.logout-btn:hover {
  color: var(--contrast-color);
  background: #b14747;
}
